#vim
*.swp
.factorypath
 
#eclipse
.classpath
.project
.settings/
 
#intellij
.idea
.idea/
*.iml
*.iws

${sys:app.logdir}
 
#Mac
.DS_Store
 
#Maven
logs/
*.class
**/target/
  
#package
*.jar
*.war
*.ear
 
#media

#vscode

.vscode
#Clion
cmake-build-debug/

#other
gen-cpp

#cmake 
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

#c++ compile out
libfe.a
libfeat.a
libsphinxbase.a
liblm.a
libutil.a
client_test
glu_svr
libglu.a

${sys:app.logdir}/
