.tree_container{
    height: 100%;
    margin: unset;
    padding: 5px 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    overflow: auto;

}

#summaryCollection div:not(.tab-content):not(.searchBar):not(.para-box):not(.textBox div){
    height: 100%;
}

.factBox{
    display: inline-block;
    margin: 0.5%;
    height: auto;
    min-height: 40px;
    border: 2px solid #ccc;
    background: rgba(233, 237, 237, 1);
    color: #000000;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: FangSong;
    font-weight: bold;
}

.factBox.active{
    background: rgba(163, 233, 255, 0.7);
    color: #000;
}